.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: black;
    background-color: rgba(0,0,0, .7);
    z-index: 100;
}
