.App {
  text-align: left;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.App-couLogin {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*
 * CSSTransitionGroup
 */

.fade-appear {
  margin-top: 30px;
  opacity: .01;
}

.fade-appear.fade-appear-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}

.fade-leave {
  margin-top: 0px;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease;
}

/*
 * Tabs content
 */

.tabs__content-title {
  padding: 0px;
}

.tabs__content-form {
  padding: 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

/*
 * DayPicker content
 */

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
